<nav class="bg-white border-b border-slate-100 px-10 py-3 flex items-center justify-between sticky top-0 z-50">
    <div class="flex items-center gap-3">
        <div class="bg-indigo-600 text-white p-2 rounded-lg flex items-center justify-center">
            <fa-icon [icon]="faGraduationCap" class="text-white text-xl"></fa-icon>
        </div>
        <h1 class="text-x font-semibold text-slate-800">Learning <br>Partners</h1>
    </div>
</nav>

<div class="bg-slate-50 flex h-[calc(100vh-81px)]">
    <aside class="w-64 bg-white border-r border-slate-200 hidden md:flex flex-col">
        <nav class="flex-1 px-4 space-y-2 mt-4">
            <a routerLink="batches" routerLinkActive="bg-indigo-50 text-indigo-700"
                class="flex items-center gap-3 px-4 py-3 text-slate-600 hover:bg-slate-50 rounded-xl font-medium transition-all">
                <fa-icon [icon]="faLayerGroup"></fa-icon> Batches
            </a>
            <a routerLink="candidate" routerLinkActive="bg-indigo-50 text-indigo-700"
                class="flex items-center gap-3 px-4 py-3 text-slate-600 hover:bg-slate-50 rounded-xl font-medium transition-all">
                <fa-icon [icon]="faUsers"></fa-icon> Candidates
            </a>
            <a routerLink="/enrollment" routerLinkActive="bg-indigo-50 text-indigo-700"
                class="flex items-center gap-3 px-4 py-3 text-slate-600 hover:bg-slate-50 rounded-xl font-medium transition-all">
                <fa-icon [icon]="faUserPlus"></fa-icon> Enrollment
            </a>
        </nav>

        <div class="p-4 border-t border-slate-100">
            <button
                class="flex items-center gap-3 px-4 py-3 w-full text-red-500 hover:bg-red-50 rounded-xl font-medium transition-all"
                (click)="logout()">
                <fa-icon [icon]="faSignOutAlt"></fa-icon> Logout
            </button>
        </div>
    </aside>

    <main class="flex-1 overflow-y-auto">
        <router-outlet></router-outlet>
    </main>
</div>