 /* Soft Floating Animation */
 @keyframes float {
     0% {
         transform: translateY(0px);
     }

     50% {
         transform: translateY(-10px);
     }

     100% {
         transform: translateY(0px);
     }
 }

 .float-anim {
     animation: float 6s ease-in-out infinite;
 }

 /* Soft Mesh Background */
 .bg-light-mesh {
     background-color: #8697a8;
     background-image:
         radial-gradient(at 0% 0%, rgb(0, 0, 0) 0, transparent 50%),
         radial-gradient(at 50% 0%, rgb(109, 129, 132) 0, transparent 50%),
         radial-gradient(at 100% 0%, rgb(0, 0, 0) 0, transparent 50%);
 }